* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 70%;
}
  
td, th {
    border: 1px solid #000000;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.table tr:hover {
    background-color: #C1BBDD;
}

tbody tr {
    background-color: #C1E7E3;
}
thead tr {
    background-color: #FFDFD3;
  }