* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #000000;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}